# Configuration created by Apache Sling JCR Installer
scripts=["create\ service\ user\ arun\r\nset\ ACL\ for\ arun\r\nallow\ jcr:read\ on\ /\r\nallow\ jcr:all\ on\ /apps\r\nallow\ jcr:all\ on\ /content\r\nallow\ jcr:all\ on\ /libs\r\nend","create\ path\ /content/usa(cq:Page)/jcr:content(cq:PageContent)\r\nset\ properties\ on\ /content/usa/jcr:content\r\nset\ sling:resourceType{String}\ to\ usa/components/cities\r\nset\ jcr:title{String}\ to\ UnitedStates\r\nend"]
references=[""]
